
<div id="form-container">
    <form id="loginForm" action="ManageUser" method="post">
        <span class="text-danger">@ViewBag.UserNameSearchFailed</span>
        <input type="text" name="UserName" class="form-control" placeholder="Username" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>